  <header role="banner" class="header">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"><h1>Simplicated Web</h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul role="navigation" class="left">
            <li class="mobile-only divider"></li>
            <li class="mobile-only"><a href="/" class="nav-home">Home</a></li>
            <li class="divider"></li>
            <li><a href="/what-i-do/" class="nav-services">What I Do</a></li>
            <li class="divider"></li>
            <li><a href="/projects/" class="nav-projects">Projects</a></li>
            <li class="divider"></li>
            <li class="desktop-only logo"><span><a href="/"><img src="/images/logo-med.png" alt=""/></a></span></li>
            <li class="divider"></li>
            <li><a href="/knowledge/" class="nav-knowledge">Learn</span></a></li>
            <li class="divider"></li>
            <li><a href="/contact/" class="nav-contact">Contact</span></a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
  </header>